.box
{
    display: block;
    width: 100px;
    height: 100px;
    background: tomato;
    margin: 0 auto 25px;
}
.box:hover
{
    width: 300px;
}

.transbox-1
{
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.box-linear
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
}
.box-ease
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
}
.box-ease-in
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
.box-ease-out
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}
.box-ease-in-out
{
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.box-instant
{
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.box-delay-1
{
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s;
}
.box-delay-2
{
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}

.box-mix-1
{
    transition-property: width, background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.box-mix-2
{
    transition-property: width, background;
    transition-duration: 1s,    5s;
    transition-timing-function: linear;
}
.box-mix-1:hover,
.box-mix-2:hover,
.box-all:hover
{
    background: lime;
}
.box-all
{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.box-short-1
{
    /*          property duration function */
    transition: all      1s       linear;
}
.box-short-multi
{
    transition: 
        width 1s linear, 
        background 2s ease-in,
        border-radius 0.5s linear;
}
.box-short-multi:hover
{
    background: lime;
    border-radius: 50%;
}