.container
{
    border: 5px solid black;
    display: inline-block;
}

.box
{
    display: inline-block;
    width: 100px;
    height: 100px;
}

.ersteBox
{
    background: tomato;
}
.zweiteBox
{
    background: lime;
    position: relative;

    /* von OBEN */
    top: 20px;
    /* von LINKS */
    left: 20px;
}
.dritteBox
{
    background: plum;
    position: absolute;
    top: 40px;
    left: 90px;
}
.vierteBox
{
    background: orange;
}

.positionBox
{
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 100px;
}