.Page
{
  padding: 0 25px;
}

nav
{
  background: black;
  width: 100vw;
  display: block;
  height: 50px;
}
nav ul
{
  margin: 0 25px;
}
nav ul li a,
nav ul li button
{
  color: white;
  background: transparent;
  line-height: 30px;
  padding: 0 10px;
  height: 30px;
  margin: 9px 0 0 0;
  float: left;
  font-size: 16px;
  outline: none;
  border: none;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li button:hover
{
  cursor: pointer;
  background: #333;
  border-bottom: 2px solid white;
}
nav ul li a.active
{
  background: #333;
  border-bottom: 2px solid red;
}
nav ul li.right
{
  float: right;
}

ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
